body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden; 
    overflow-y: scroll; 
}
#first{
    color: white;
    background-image: url(./images/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% 100%;
    padding: 50px;
    background-clip: border-box;
    margin: 0%;
}
.info{
    padding: 50px;
    text-align: center;
    font-family: galada;
}
.service{
    background-image: url(./images/backgrounds/s_image.jpg);
    text-align: center;
    background-position: cover;
    background-size: cover;
    width:100%;
    color: white;
    background-repeat: no-repeat;
    padding: 100px;
    
    
}
#to-do{
    text-align: center;
    padding: 10px;
}
.perform{
    text-align: center;
    display: 0;
    margin-top: 20px;
    
}
.container{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    
}
#bottom{

    margin-bottom: 50px;

}
.col{
    padding:2px;
    
}
.row{
    padding: 0%;
}
.card-footer{
    text-align: center;

}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.delani{
    margin-top: 20px;
}
.contact-form{
    text-align: center;
    padding: 2%;
    background-image: url(./images/backgrounds/c_image.jpg);
    background-repeat: repeat;
    background-size: cover;
}
.contact{

    color: white;
    font-size:30px;
    background: transparent;
    margin: 0%;
    text-align: center;
}
#name{
    width: 30%;  
    color: white;
    background: transparent;
}
#email{
    width: 30%;
    background: transparent;
    color: white;
}
#area{
    width: 50%;
    margin-top: 20px;
    background: transparent;
    color: white;
}
.details1{
    display: none;
}
.design1{
    display: show;
}
.details2{
    display: none;
}
.design2{
    display: show;
}
.details3{
    display: none;

}
.design3{
    display: show;
}
#desc-des{
    display: none;
    text-align: center;
  }
  
  #desc-dev{
    display: none;
    text-align: center;
  }
  
  #desc-prod{
    display: none;
    text-align: center;
  }
  @media screen and (max-width: 601px) {
    #what-we-do h1::after {
      margin: 15px auto 20px;
      width: 35%;
    }
  }
  @media screen and (max-width: 1000px) {
    #what-we-do .doings {
      height: auto;
      cursor: pointer;
    }
}